@font-face {
    font-family: allura;
    src: url("../fonts/allura.ttf");
  } 
  @font-face {
    font-family: ananda;
    src: url("../fonts/ananda.ttf");
  } 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
.contact-inner{
    background: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 50px;
}

.hello-cons{
    position: relative;
    top: -90px;
}

.logo-contact{
    width: 40%;
    margin-bottom: 30px;
}

.contact-left{
    text-align: center;
}

.contact-text{
    font-family: ananda !important;
    color: #285430;
    font-size: 40px;
    position: relative;
    top: 5px;
    left: -15px;
  }


.contact-left-text{
    border-radius: 80px 30px 80px 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    padding: 30px;
    width: 100%;
    color: #285430;
    background-color: #e1eade;
    letter-spacing: 1px;
    font-size: 0.8em;
}
.contact-right{
    padding-left: 100px;
    margin: auto 0;
}

.contact-right-heading{
    letter-spacing: 1px;
    color: #285430;
    font-family: Outfit;
    font-weight: 500;
    font-size: 3em;
}

.contact-right-links .con-link{
    border-radius: 30px;
    padding: 10px 20px 10px 10px;
    background-color: #e1eade;
    color: #285430;
    letter-spacing: 1px;
    font-weight: 400;
}

.contact-right-links a{
    line-height: 4;
}

.social-media-buttons-contact li{
    color: #285430;
    margin: 40px 40px 0 0;
}

.contact-right-links i{
    color: #285430;
    margin-right: 5px;
  
}


.social-media-buttons-contact p{
    color: #285430;
    margin: 40px 0 0 0;
    font-family: Outfit;
    letter-spacing: 1px;
    font-size: 1.2em;
}