@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.testimonial-section{
    position: relative;
}

.testimonial-img{
    width: 80%;
    border-radius: 20px 20px 20px 20px;
    margin: 40px 0 !important;
}

.testi-img{
    border-radius: 20px 20px 20px 20px;
    color: black;
    min-height: 560px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    font-family: 'Open Sans', sans-serif;
}

.paraa{
    padding: 0px 20px 20px 20px;
    margin: auto 0;
}
.paraaa{
    padding: 10px 0;
    margin: auto 0;
    position: relative;
    top: 6px;
}
.women{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px 0 0px 0;
    border: 1px solid black;
}

.women-below{
    width: 60%;
    margin: 0px 0 20px 0;
}

.test-heading{
    color: #9dc08b;
    position: absolute;
    top: 42%;
    left: 76%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}
  
  .test-heading2{
    color: #9dc08b;
    position: absolute;
    top: 38%;
    left: 85%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}

.test-heading h1{
    font-size: 3.2em;
}
  
.test-heading2 h1{
    font-size: 3.6em;
    width: 120%;
}